<div class="aside">
    <a href="/home"><div class=" restaurantes"id="restaurantes">Restaurantes</div></a>
    <a href="/eventos"><div class="eventos" id="eventos">Eventos</div></a> 
    <a href="/boliches"><div class="boliches" id="boliches">Boliches</div></a>
    
</div>
<div class="contenido">
    <p>Mantenimiento..</p>
</div>
