<div class="aside">
    <a href="/homelocal"><div class="homelocal">Reservas</div></a>
    <a href="/local"><div class="local">Local</div></a> 
   
    
</div>
<div class="contenido">
    
 
 {{#each reservas}}
    <div class="content-reserva">
        <p>Usuario: {{this.nombre}}</p>
        <p>Hora: {{this.hora}}</p>
        <p>Monto de reserva: {{this.montopagado}}</p>
        <p>Integrantes: {{this.cantpersonas}}</p>         
    </div>
    {{/each}}
</div>