<div class="aside">
    <a href="/homelocal"><div class="homelocal">Reservas</div></a>
    <a href="/local"><div class="local">Local</div></a> 
   
    
</div>
<div class="contenido">
    <h1 class="title-contenido">Reservas</h1>

    <div class="content-reserva">
        <p>Usuario: {{message.nombre}}</p>
        <p>Hora: {{message.hora}}</p>
        <p>Monto de reserva: {{message.montopagado}}</p>
        <p>Integrantes: {{message.cantidad}}</p>
    </div>
</div>