<div class="aside">
    <a href="/home"><div class=" restaurantes"id="restaurantes">Restaurantes</div></a>
    <a href="/eventos"><div class="eventos" id="eventos">Eventos</div></a> 
    <a href="/boliches"><div class="boliches" id="boliches">Boliches</div></a>
    <a href="/canchas"><div class="canchas" id="canchas">Canchas</div></a>
</div>
<div class="contenido">
    <h1 class="title-contenido">Reservar</h1>
    
    </div>
