<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reserva2</title>
  <link rel="stylesheet" href="/style/landing-style.css">
</head>
<body>
  <div class="nav">
        <span class="logo"><a href="/"> Reserva2 </a></span>
        <div class="links">
            <a href="/register">Registrarse</a>
            <a href="/login">Iniciar Sesion</a>
        </div>
    </div>
  {{{body}}}
  <footer>
     @copyright 2020 ReserveD todos los derechos e izqueirdos reservados
  </footer>
</body>
</html>